* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  background-color: #1a2456;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 1; 
  width: 100vw;
}

.logo svg path,
.logo svg rect,
.logo svg polygon{
  color: #efc2b3;
}

nav span{
  margin: 5px;
}

.nav-icons {
  font-size: 2rem;
  color: #efc2b3;
  cursor: pointer;
}

.not-shown {
  display: none;
}

.mobile-view {
  display: block;
  background-color: #1a2456;
  width: 70vw;
  height: 100vh;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.aside-logo {
  display: flex;
  justify-content: space-between;
}

.nav-side li a:link,
.nav-side li a:visited {
  color: #efc2b3;
  text-decoration: none;
}
.nav-side li a:hover {
  color: #ff501c;
}

.nav-side li {
  list-style: none;
  margin: 10px;
}

.bold {
  font-weight: bold;
}

/* Main Background */
.empty-div {
  height: 10vh;
}

.capitalise {
  text-transform: uppercase;
}

.main-bg {
  text-align: center;
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1535406208535-1429839cfd13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bXVzaWMlMjBjb25zb2xlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
}

.main-bg-icons {
  font-size: 2.5rem;
  color: white;
}

.main-bg-icons:hover {
  font-size: 3rem;
}

.main-bg h1 {
  color: #ff501c;
}

.main-message {
  height: 55%;
  background-color: #5a7f71;
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-message p {
  padding: 10px;
  font-weight: bold;
}

.switch {
  background: url("https://monogramcc.com/static/2893592fe2fa8c46e36447df99a48453/b5e5f/workflow-header-modules.webp");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 40%;
}

.main-bg p {
  color: white;
}

.dashed-border {
  border: 3px dashed white;
  padding: 10px;
}

/* Hero1 - Products */
.word-arranger {
  display: flex;
  justify-content: space-between;
}

.adjust {
  margin-top: 20px;
}

.adjust2 {
  margin-left: 10px;
}

.price-arranger {
  display: flex;
}

.discounted-price {
  color: #ff501c;
}

.original-price {
  text-decoration: line-through;
}

.card-image {
  position: relative;
}

.availability {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 20px;
}

.instock {
  background-color: #1a2456;
  color: white;
}

.preorder {
  background-color: #ff8b68;
}

.shopnow {
  border-radius: 10px;
  position: absolute;
}

.hero1 {
  height: 180vh;
  margin: 20px;
}
.card {
  height: 60vh;
}

.card1-img {
  background: url("https://images.unsplash.com/photo-1605901309584-818e25960a8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y29uc29sZSUyMGJveCUyMHBhY2thZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 80%;
  width: 100%;
}

.card1-img2 {
  background: url("https://images.unsplash.com/photo-1500702790369-fe461685b3c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29uc29sZSUyMG11c2ljfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 80%;
  width: 100%;
}

.card2-img {
  background: url("https://images.unsplash.com/photo-1632803227975-b6a5688c9c46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGNvbnNvbGUlMjBib3glMjBwYWNrYWdlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 80%;
  width: 100%;
}

.card2-img2 {
  background: url("https://images.unsplash.com/photo-1457689146074-bd667e343a9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29uc29sZSUyMG11c2ljfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 80%;
  width: 100%;
}

.card3-img {
  background: url("https://images.unsplash.com/photo-1526509706191-c268f28e9ecb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-size: cover;
  height: 80%;
  width: 100%;
}

.card3-img2 {
  background: url("https://images.unsplash.com/photo-1518972559570-7cc1309f3229?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29uc29sZSUyMG11c2ljfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 80%;
  width: 100%;
}

/* Hero2 */
.hero2 {
  background: url("https://images.unsplash.com/photo-1483000805330-4eaf0a0d82da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fG11c2ljJTIwc3R1ZGlvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 30vh;
}

.hero2-slogan {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: rgb(241, 236, 236);
}

.hero2-slogan p {
  padding: 10px;
  font-weight: 600;
}

/* Hero3 - customisation */
.hero3 {
  height: 360vh;
  margin: 30px;
}

.hero3-card1-img {
  background: url("https://images.unsplash.com/photo-1571330735066-03aaa9429d89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bXVzaWMlMjBoZWFkcGhvbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 90%;
}

.hero3-card1-img2 {
  background: url("https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bXVzaWMlMjBjb3JlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 90%;
}

.hero3-card2-img {
  background: url("https://images.unsplash.com/photo-1524678606370-a47ad25cb82a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fG11c2ljJTIwaGVhZHBob25lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 90%;
}

.hero3-card2-img2 {
  background: url("https://images.unsplash.com/photo-1486475554424-2fa50cd59f18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bXVzaWMlMjBtaWRpfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 90%;
}

.hero3-card3-img {
  background: url("https://images.unsplash.com/photo-1505751104546-4b63c93054b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fG11c2ljJTIwaGVhZHBob25lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 90%;
}

.hero3-card3-img2 {
  background: url("https://images.unsplash.com/photo-1522870389523-7e83c0065eaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bXVzaWMlMjBtaWRpfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 90%;
}

.hero3-card4-img {
  background: url("https://images.unsplash.com/photo-1484704849700-f032a568e944?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fG11c2ljJTIwaGVhZHBob25lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 90%;
}

.hero3-card4-img2 {
  background: url("https://images.unsplash.com/photo-1562403681-c1e256fdc27b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG11c2ljJTIwbWlkaXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 90%;
}

.hero3-card5-img {
  background: url("https://images.unsplash.com/photo-1483032469466-b937c425697b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG11c2ljJTIwaGVhZHBob25lc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 90%;
}

.hero3-card5-img2 {
  background: url("https://images.unsplash.com/photo-1569433907108-7fc1b536d4fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fG11c2ljJTIwbWlkaXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 90%;
}

.hero3-card6-img {
  background: url("https://images.unsplash.com/photo-1615375834706-98afda0d534f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fG11c2ljJTIwaGVhZHBob25lc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 90%;
}

.hero3-card6-img2 {
  background: url("https://images.unsplash.com/photo-1466428996289-fb355538da1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fG11c2ljJTIwbWlkaXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 90%;
}
/* FOOTER */
footer {
  background-color: #1a2456;
  padding: 10px;
}

footer p,
footer h5,
footer a {
  color:#efc2b3;
  padding: 5px 0 5px 0;
}

form {
  padding: 5px 0 5px 0;
}

form input[type="email"] {
  border: 2px solid #efc2b3;
  background-color: transparent;
  padding: 5px;
}

form input[type="button"] {
  border: 1px solid #efc2b3;
  border-radius: 20px;
  background-color: #efc2b3;
  padding: 5px 10px 5px 10px;
}
footer section {
  margin: 30px;
}

.social-links span {
  font-size: 1.5rem;
}

.social-links a:link,
.social-links a:visited {
  color: #efc2b3;
  margin: 5px;
}

footer ul li {
  list-style: none;
  margin: 10px 0 10px 0;
}

footer ul li a:link,
footer ul li a:visited,
.copyright a:link,
.copyright a:visited {
  color: #efc2b3;
  text-decoration: none;
}

footer ul li a:hover,
.copyright a:hover {
  color: #ff501c;
  text-decoration: underline;
}

.copyright small {
  color: #efc2b3;
}
/* Responsive Design */
@media(min-width: 768px) {
  .main-bg {
    height: 60vh;
  }

  .main-message {
    flex-direction: row;
  }

  .switch {
    height: 60%;
    width: 40%;
  }

  .hero1 {
    height: 150vh;
  }

  .card {
    height: 50vh;
    margin: 0 100px 0 100px;
  }

  .hero3 {
    height: 300vh;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .newsletter {
    grid-column: span 2;
  }

  .monogram {
    grid-row-start: 1;
  }
}

@media(min-width: 1024px) {
  .fa-bars,
  nav .logo,
  .fa-times,
  .extra {
    display: none;
  }

  nav,
  .nav-side {
    display: flex;
  }

  .not-shown {
    display: block;
  }

  .switch {
    height: 70%;
    width: 40%;
  }
  
  .hero1 {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
  }

  .card {
    margin: 0 auto;
    height: 20vh;
  }

  .hero3 {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 1280px) {
  .switch {
    height: 70%;
    width: 10%;
  }

  .main-message p{
    margin: 0 50px 0 50px;
  }

  .hero1 {
    height: 90vh;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  .hero3 {
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .newsletter {
    grid-column: 5/7;
    grid-row-start: 1;
  }
}